@import "../../variables";

$spacing: 1.5rem;

nav.nav-container {
  background-color: $myDarkBlue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding : {
    left: $spacing;
    right: $spacing;
  }
  .logo-container {
    img.logo-img {
      height: 5rem;
      width: auto;
    }
  }
}
