// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$myDarkBlue: #133a6f;
$myLightBlue: #87a6d0;
$shadow: rgba(0, 0, 0, 0.3);
$heavyShadow: rgba(0, 0, 0, 0.8);
